
h1 {
  text-align: center;
}


body, html {
  height: 100%;
}

#whatWeather {
  background: rgba(243, 118, 118, 0.493);
}


.bg { 
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}                    

#zipCodeForm {
  float: right;
}

#jjjumbotron1 {
  border: 2px solid black;
  background: rgba(243, 118, 118, 0.493);
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 40px;

}

#jjjumbotron2 {
  border: 2px solid black;
  background: rgba(243, 118, 118, 0.493);
  margin: auto; 
  padding: 26px;
}


#jjjumbotron3 {
  border: 2px solid black;
  background: rgba(243, 118, 118, 0.493);
  margin: auto; 
  padding: 44px;
}



.card-header {
  background: rgba(173, 57, 57, 0.904);
}

#restaurantResults {
  background: rgba(222, 224, 233, 0.719);
}

#selectCard {
  background: rgba(243, 118, 118, 0.493);
}

#city{
  font-size: 30px;
}

#wIcon{
  position: relative;
  width: 25px;
  height: 25px;
  padding-left: 10%;
  
}