
h1 {
  text-align: center;
}


body, html {
  height: 100%;
}

#whatWeather {
  background: rgba(245, 162, 19, 0.756);
}


.bg { 
  /* The image used */
  background-image: url("../images/travelbg3.jpg");

  /* Full height */
  height: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}                    

#zipCodeForm {
  float: right;
}

/* #jjjumbotron1 {
  border: 2px solid black;
  background: rgba(26, 132, 171);
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 40px;

} */

#jjjumbotron2 {
  border: 2px solid rgb(255, 255, 255);
  background: rgba(245, 162, 19, 0.756);
  margin: auto; 
  padding: 26px;
}


#jjjumbotron3 {
  border: 2px solid rgb(255, 255, 255);
  background: rgba(245, 162, 19, 0.756);
  margin: auto; 
  padding: 44px;
}

.card-header {
  background: rgba(245, 162, 19, 0.756);
}

#restaurantResults {
  background: rgba(222, 224, 233);
  width: 100%;
  height: 500px;
}

#selectCard {
  background: rgba(245, 162, 19, 0.756);
}

#city{
  font-size: 30px;
}

#wIcon{
  position: relative;
  width: 25px;
  height: 25px;
  padding-left: 10%;
  
}
#events-header {
  background: rgba(245, 162, 19. 0.756);
  color: white;
}